
main {
  width: 100%;
  height: 1500px;
  position: relative;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 100px 300px 100px 300px 100px;
  grid-gap: 20px 80px;
  margin-top: 180px;
  padding-left: 220px;
  padding-top: 50px;
  background-color: white;
}
.svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.orn-img {
  background-color: aqua;
  border-radius: 20px;
  position: relative;
}
.orn-txt {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
}
.orn-cost {
  font-size: 22px;
  font-weight: bold;
  padding-left: 5px;
  position: relative;
}
.cal {
  width: 200px;
  height: 25px;
  /* background-color: aqua; */
  text-align: center;
  position: absolute;
  top: 40px;
  left: 40px;
}
.cal:hover {
  cursor: pointer;
  text-decoration: underline;
}
#notifywish {
  width: 430px;
  height: 50px;
  font-weight: 600;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #f3ef11;
  color: #0a2384;
  border: 2px solid #0a2384;
  display: none;
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 0px;
  /* position: absolute;
  bottom: 20px;
  right: 0px; */
  z-index: 1;
  box-shadow: 2px 2px 2px black;
}
#notifywishremove {
  width: 500px;
  height: 50px;
  font-weight: 600;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #f3ef11;
  color: #0a2384;
  border: 2px solid #0a2384;
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 0px;
  display: none;
  z-index: 1;
  box-shadow: 2px 2px 2px black;
}
#notifycartalready {
  width: 320px;
  height: 50px;
  font-weight: 600;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #f3ef11;
  color: #0a2384;
  border: 2px solid #0a2384;
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 0px;
  display: none;
  z-index: 1;
  box-shadow: 2px 2px 2px black;
}
#notifycart {
  width: 400px;
  height: 50px;
  font-weight: 600;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  background-color: #f3ef11;
  color: #0a2384;
  border: 2px solid #0a2384;
  position: relative;
  position: fixed;
  bottom: 20px;
  right: 0px;
  display: none;
  z-index: 1;
  box-shadow: 2px 2px 2px black;
}
#wrong1 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("https://imgs.search.brave.com/U8TCmVYTZEd-ehwmCzYyuPAZgM41bnvfVH7OyJxbHRY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3BuZy13cm9u/Zy1jcm9zcy1wbmct/aWNvLTUxMi5wbmc");
  background-size: cover;
  background-color: red;
  position: absolute;
  right: 20px;
  bottom: 13px;
  cursor: pointer;
}
#wrong2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("https://imgs.search.brave.com/U8TCmVYTZEd-ehwmCzYyuPAZgM41bnvfVH7OyJxbHRY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3BuZy13cm9u/Zy1jcm9zcy1wbmct/aWNvLTUxMi5wbmc");
  background-size: cover;
  background-color: red;
  position: absolute;
  right: 20px;
  bottom: 13px;
  cursor: pointer;
}
#wrong3 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("https://imgs.search.brave.com/U8TCmVYTZEd-ehwmCzYyuPAZgM41bnvfVH7OyJxbHRY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3BuZy13cm9u/Zy1jcm9zcy1wbmct/aWNvLTUxMi5wbmc");
  background-size: cover;
  background-color: red;
  position: absolute;
  right: 20px;
  bottom: 13px;
  cursor: pointer;
}
#wrong4 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-image: url("https://imgs.search.brave.com/U8TCmVYTZEd-ehwmCzYyuPAZgM41bnvfVH7OyJxbHRY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3BuZy13cm9u/Zy1jcm9zcy1wbmct/aWNvLTUxMi5wbmc");
  background-size: cover;
  background-color: red;
  position: absolute;
  right: 20px;
  bottom: 13px;
  cursor: pointer;
}
/* details-sheet */
.details-bar {
  width: 820px;
  height: 480px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  position: fixed;
  top: 230px;
  bottom: 50px;
  left: 350px;
  z-index: 10;
  background-color: white;
}
#bar1 {
  display: none;
}
#bar2 {
  display: none;
}
#bar3 {
  display: none;
}
#bar4 {
  display: none;
}
#bar5 {
  display: none;
}
#bar6 {
  display: none;
}
#bar7 {
  display: none;
}
#bar8 {
  display: none;
}
#bar9 {
  display: none;
}

.wrong {
  width: 30px;
  height: 30px;
  background-image: url("https://imgs.search.brave.com/U8TCmVYTZEd-ehwmCzYyuPAZgM41bnvfVH7OyJxbHRY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9wbHVz/cG5nLmNvbS9pbWct/cG5nL3BuZy13cm9u/Zy1jcm9zcy1wbmct/aWNvLTUxMi5wbmc");
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
}
.wrong:hover {
  background-color: rgb(240, 44, 44);
}
.img-det {
  width: 400px;
  height: 400px;
  border: 2px solid rgb(61, 56, 56);
  border-radius: 20px;
  position: absolute;
  top: 40px;
  left: 20px;
}
.bill {
  font-weight: 600;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
.cancelbtn {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 165px;
  bottom: 5px;
  color: gray;
  background-color: red;
}
.cart-add {
  width: 140px;
  height: 30px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 200px;
  bottom: 60px;
  cursor: pointer;
  color: white;
  background-color: #0a2384;
}
.buy-now {
  width: 110px;
  height: 30px;
  border-radius: 15px;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  right: 75px;
  bottom: 60px;
  color: white;
  cursor: pointer;
  background-color: #0a2384;
}
/* wish/addtocart secs: */
#threebtn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#wcsheet {
  width: 423px;
  height: 550px;
  background-color: white;
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgb(48, 48, 48);
  display: none;
  position: relative;
  position: fixed;
  top: 185px;
  left: 8px;
}
#cartlogo {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  background-color: white;
  display: block;
  cursor: pointer;
}
#wishlogo {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(206, 200, 200);
  border-top: none;
  display: block;
  cursor: pointer;
}
#cart {
  width: 378px;
  height: 548px;
  border-left: 1px solid black;
  /* background-color: aqua; */
  /* display: ; */
  overflow: scroll;
  position: absolute;
  top: 2px;
  right: 2px;
}
#wishlist-items {
  width: 378px;
  height: 548px;
  border-left: 1px solid black;
  background-color: white;
  overflow: scroll;
  position: absolute;
  top: 0px;
  right: 2px;
  display: none;
  /* padding-top: 2px; */
}

#msgempty {
  width: 300px;
  height: 300px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: 20px;
}
#msg {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  top: 350px;
  right: 120px;
  color: rgb(41, 40, 40);
}
#successnotify{
  width: 530px;
  height: 200px;
  background-color: white;
  box-shadow: 2px 2px 2px black;
  border: 2px solid black;
  padding-top: 6px;
  font-size: 20px;
  padding-left: 25px;
  font-weight: 700;
  position: relative;   
  position: fixed;
  top: 350px;
  left: 495px;
  z-index: 100;
  display: none;
  border-radius: 30px;
}
#successmsg{
  width: 400px;
  height: 30px;
  position: absolute;
  top: 90px;
  left: 90px;
}
#close{
  width: 70px;
  height: 30px;
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  position: absolute;
  background-color: rgb(203, 203, 212);
  bottom: 5px;
  right: 20px;
}
#showcart{
  width: 120px;
  height:30px;
  border-radius: 20px;
  padding-top: 4px;
  padding-left: 10px;
  text-decoration: none;
  color: white;
  background-color: #0a2384;
  position: absolute;
  bottom: 5px;
  right: 100px;
}