* {
  /* removing default css properties*/
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  font: inherit;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
/* wish/addtocart secs: */
#threebtn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#wcsheet {
  width: 400px;
  height: 550px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgb(48, 48, 48);
  padding: 2px;
  display: none;
  position: relative;
  position: fixed;
  top: 230px;
  left: 38px;
}
#cartlogo {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(206, 200, 200);
  display: block;
  cursor: pointer;
}
#wishlogo {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  border-top: none;
  display: block;
  cursor: pointer;
}
#history {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid black;
  border-top: none;
  display: block;
  cursor: pointer;
}
#items {
  width: 353px;
  height: 548px;
  border-left: 1px solid black;
  /* background-color: aqua; */
  position: absolute;
  top: 2px;
  right: 2px;
}
#wishlist-items {
  width: 368px;
  height: 548px;
  border-left: 1px solid black;
  background-color: black;
  overflow: scroll;
  position: absolute;
  top: 2px;
  right: 2px;
  padding-top: 2px;
}

#msgempty {
  width: 300px;
  height: 300px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  right: 20px;
}
#msg {
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  top: 350px;
  right: 120px;
  color: rgb(41, 40 , 40);
}
#product {
  width: 160px;
  height: 25px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#gold {
  width: 190px;
  height: 25px;
  padding-left: 1px;
  /* background-color: chartreuse; */
  background-color: #0a2384;
  color: #f3ef11;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#sliver {
  width: 200px;
  height: 25px;
  padding-left: 1px;
  background-color: #0a2384;
  /* background-color: chartreuse; */
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#platinum {
  width: 240px;
  height: 25px;
  padding-left: 2px;
  background-color: #0a2384;
  /* background-color: chartreuse; */
  color: #e5e4e2;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#gold:hover {
  cursor: pointer;
  border-bottom: 2px solid #f3ef11;
}
#sliver:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}
#platinum:hover {
  cursor: pointer;
  border-bottom: 2px solid #e5e4e2;
}
#scroll {
  width: 620px;
  height: 30px;
  font-size: 25px;
  color: black;
  font-weight: bolder;
  position: absolute;
  top:8px;
  right: 10px;
  animation-name: text-spin;
  animation-timing-function: linear;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
@keyframes text-spin {
  0%{
    color: #0a2384;   
  }
  10%{
    color: #f3ef11;
  }
  30%{
    color: #0a2384;
  }
  100% {
    transform: translatex(-1800px);
  }
}
#homemain{ 
  position: relative;
}
#homeimg {
  background-color: white;
  outline: 2px solid black;
  width: 1400px;
  height: 525px;
  display: flex;
  overflow: hidden;
  position: absolute;
  top:5px;
  left: 45px;
  box-shadow: 2px 2px 2px black;
}
.homeimg {
  width: 1400px;
  height: 525px;
  margin-right: 10px;
  animation-name: img-spin;
  animation-delay: 2s;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes img-spin {
  45% {
    transform: translatex(-1415px);
  }
  70% {
    transform: translatex(-2820px);
  }
  100% {
    transform: translatex(-4230px);
  }
}
